.git
.github
.opencode
.turbo
.env
.env.*
**/.env
**/.env.*
.npmrc
**/.npmrc
datadog.yaml
**/datadog.yaml
node_modules
apps/*/node_modules
packages/*/node_modules
apps/nextjs-app/.next
apps/nextjs-app/.next-custom
apps/nextjs-app/out
apps/*/.output
apps/*/dist
packages/*/dist
certs
npm-debug.log*
